.card {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border: 2px solid white;
  }
  
  .card img {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
  }
  
  .card-text {
    padding: 20px;
    color: white;
  }
  
  .card-text h2 {
    margin: 0;
    font-size: 32px;
  }
  
  .card-text p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
  }